* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Open Sans Normal";
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  max-width: 1120px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.uppercase {
  text-transform: uppercase;
}

header {
  background-color: #0481F6;
}

header .header-top ul {
  text-align: right;
}

header .header-top ul li {
  display: inline-block;
}

header .header-top ul li:last-child {
  margin-left: 50px;
}

header .header-top ul li a {
  display: inline-block;
  color: white;
  padding: 5px 0px;
  font-family: "Open Sans Normal";
  font-size: 10px;
  font-weight: 600;
}

header .header-top ul li span {
  font-size: 14px;
}

nav {
  padding: 20px 0;
  border: 1px solid grey;
}

nav .header-bottom {
  display: flex;
  justify-content: center;
}

nav .header-bottom .logo {
  width: 10%;
}

nav .header-bottom .menu-header {
  width: 80%;
}

nav .header-bottom .search-bar {
  width: 10%;
}

nav .header-bottom img {
  width: 80px;
  display: inline-block;
}

.menu-header ul {
  display: inline-block;
}

.menu-header ul li {
  margin: 0 15px;
  padding-top: 20px;
}

.menu-header ul li a {
  display: inline-block;
  font-family: "Open Sans Condensed";
  font-size: 17px;
  font-weight: 700;
  font-family: "Open Sans Condensed";
  color: black;
}

