footer{
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 380px;

}

$footer_bottom_color: #303030;

.container{

    .footer-top{
        background-image: url('../img/dc-logo-bg.png');
        height: 380px;
        background-repeat: no-repeat;
        background-position: right;
        padding-top:35px;
        padding-left: 15px;

        .menu-footer{
            display: flex;

            .dc-comics, .dc, .sites{
                padding-right:25px;
                padding-bottom: 20px;

                h1{
                    color:$color_title_footer;
                    font-size:22px;
                    font-weight: 600;
                    font-family: $footer_font_condensed;
                    padding-bottom:5px;
                }

                ul{
                    li{
                        a{
                            color:$color_link_footer;
                            line-height: 1.5;
                            font-size: 12px;
                            font-family: $footer_font_normal;
                            &:hover{
                                color:$color_link_hover_footer;
                            }
                        }
                    }
                }
            }
        }

    }
}

.copy-right{
        padding-top:10px;

            p{
                color:$color_link_footer;
                font-family: $footer_font_normal;
                font-size: 12px;

                a{
                    color:$color_link_hover_footer;
                }

            }
        }

.footer-bottom{
    background-color:$footer_bottom_color;
    height: 108px;

    .footer-container{
        display: flex;
        justify-content: space-between;
        padding-top: 25px;

        input{
            padding: 15px 15px;
            border: 2px solid $color_link_hover_footer;
            background-color: $footer_bottom_color;
            color:$color_title_footer;
            font-size: 16px;
            font-weight: bold;

            &:hover{
                background-color:$color_link_hover_footer;
                transition: 1s;
            }
        }
        .social-icons{
            h2{
                display: inline;
                color:$color_link_hover_footer;
                font-size: 20px;
                font-weight: bold;
                font-family: $footer_font_condensed;
                padding-right: 15px;
            }

            ul{
                display: inline-block;
                padding-top: 10px;
                li{
                    display: inline-block;
                    padding-left:12px;

                    a:hover{
                        opacity:0.8;
                        transition: 1s;
                    }
                }
            }
        }
    }
}
