header{
    font-family: $header_font;
}

header{
    background-color: $background_header_top;
    .header-top{
        ul{
            text-align: right;
            li{
                display: inline-block;
                &:last-child {
                    margin-left:50px;
                }
                a{
                    display:inline-block;
                    color:white;
                    padding: 5px 0px;
                    font-family: $header_font;
                    font-size: 10px;
                    font-weight: 600;
                }
                span{
                    font-size: 14px;
                }
            }
        }
    }
}

nav {
    height: 100px;
    border: 1px solid grey;

        .header-bottom {
            display: flex;
            justify-content: center;
            .logo{
                width: 10%;
                img {
                    width: 80px;
                    display: inline-block;
                    padding:10px 0;
                }
            }
            .menu-header{
                width: 80%;
            }
            .search-bar{
                 width: 10%;
            }

        }
    }


.menu-header{
    ul{
        display: inline-block;
        height: 100px;
        text-align: center;
        li{
                margin: 0 15px;

            a{
                    display: inline-block;
                    font-size: 17px;
                    font-weight:700;
                    font-family: $font_menu_header;
                    color: $color_menu_header;
                    padding: 34px 0;
                    line-height: 1.5;

                    &.active, &:hover{
                        border-bottom: 7px solid blue;
                    }
            }
        }
    }
}



.search-bar{
    padding: 34px 0;

    input{

        border: none;
        border-bottom: 2px solid blue;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        width: 120px;
        font-family: $font_menu_header;
    }

}
